:root {
    background-color: white;
    font-size: 20px;
    margin: auto auto auto auto;
    width: 1000px;
    text-align: center;
}
footer {
    padding-top: 40px;
    font-size: 60px;
}
